body {
    background-color: green;
  
}

/* #dealer {
    width: 200px;
    position: absolute;
} */


.container {
    display: inline;
}

#bjTable {
    width: 1000px;
    height: 600px;
    margin-top: 100px;
    position: absolute;

}

#tableContents {
    position: absolute;
    margin-top: 25px;
    color:red;
}

#dealerHalf h2 {
    margin-right: 50px;
    margin-bottom: auto ;
}

#dealerHalf {
    margin-top: 50px;
    margin-left: 375px;
    margin-bottom: 100px;
}

#dealerSum {
    color: blue; 
}

#userHalf h2 {
    margin-right: 50px;
    margin-bottom: 50px;
    margin-top: auto;
}

#userHalf {
    margin-top: 50px;
    margin-left: 375px;
}

#userSum {
    color: blue; 
}

#dealerCards img {
    height: 175px;
    width: 125px;
    margin: 1px;
}

#userCards img {
    height: 175px;
    width: 125px;
    margin: 1px;
    margin-top: 100px;
}

#hit {
    width: 100px;
    height: 50px;
    font-size: 20px;
    margin-left: 385px;
}

#stand {
    width: 100px;
    height: 50px;
    font-size: 20px;
    margin-left: 20px;
}

.splitButton {
    width: 100px;
    height: 50px;
    font-size: 20px;
}

h2 {
    text-align: center;
}